body {
  background-color: #444;
  background-image: url(5e0ac3d0540f94228c9f763795fad710.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

